.products-container {
  margin: '0 auto';

  .products-list {
    display: flex;
    flex-direction: row;
    align-items: stretch; 
    flex-wrap: wrap;
    justify-content: space-between;

    .product {
      max-width: 23%;
      max-height: 250px;
      margin-bottom: 20px;
      border: 1px solid rgb(202, 196, 196);

      .product-photo {
        width: 100%;
        height: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        img {
          object-fit: contain;
          width: 100%;
          height: 100%;
        }

        .product-hover {
          width: 100%;
          height: 100%;
          position: absolute;
          color: transparent;

          .product-hover-details,
          .product-hover-pick {
            height: 50%;
            width: 100%;
            padding-top: 15%;
            background-color: rgba(255, 255, 255, 0);
            transition: all .5s;
          }
        }

        &:hover {
          cursor: pointer;

          .product-hover {
            color: white;

            .product-hover-details {
              background-color: rgba(58, 199, 30, 0.7);
            }

            .product-hover-pick {
              background-color: rgba(231, 40, 15, 0.7);
            }     
          }
        }
      }

      .product-info {
        height: 30%;
        text-align-last: left;
        line-height: 16px;
        padding: 10px;
        text-transform: uppercase;
        border-top: 1px solid rgb(202, 196, 196);

        .product-price {
          color: rgb(184, 56, 5);
          display: inline-block;
          margin-top: 10px;
          font-size: 12px;
        }
      }

      @media (max-width: 992px) {
        max-width: 31%;

        .product-info {
          .product-name {
            font-size: 14px;
          }

          .product-price {
            font-size: 12px;
          }
        }
      }

      @media (max-width: 768px) {
        max-width: 48%;

        .product-info {
          .product-name {
            font-size: 12px;
          }

          .product-price {
            font-size: 10px;
          }
        }
      }

      @media (max-width: 400px) {
        .product-info {
          .product-name {
            font-size: 11px;
          }

          .product-price {
            font-size: 9px;
          }
        }
      }
    }
  }
}
