.products-container {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-around;
  .nav.nav-pills.flex-column.flex-sm-row {
    width: 100vw;
    flex: 0 0 100%;
  }
  .product {
    border: 1px solid lightgray;
    border-radius: 3px;
    flex: 0 0 225px;
    margin: 10px;
    .img-container {
      position: relative;
      z-index: 2;
      .product-image {
        position: relative;
        z-index: 1;
        height: 200px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 3px;
        border-bottom: 1px solid lightgray;
      }
      &:hover {
        background-color: lightblue;
        .product-image {
          opacity: 0.3;
        }
      }
    }
    .product-details {
      justify-content: flex-end;
      padding-top: 15px;
      padding-left: 10px;
      font-size: 1rem;
      text-align: left;
      .product-name {
        font-size: 0.9rem;
        text-overflow: hidden;
        min-height: 30px;
      }
      .product-price {
        color: orange;
        font-size: 0.7em;
      }
    }
  }
}
